@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background-color);
  color: var(--text-color);
  font: 500 100%/1.5 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1,
p {
  margin: 0;
}

/* layout */

body {
  background: #244e;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 2rem;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  align-items: flex-start;
  background: #244;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem -1rem #0003;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1 0 18rem;
  gap: 1rem;
  justify-content: space-between;
  overflow: hidden;
  padding: 12rem 2rem 2rem;
  position: relative;
}
.card:hover {
  outline: 8px solid #fff;
}

.card-name {
}
.card-tag {
  align-items: center;
  background: #fff1;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 12px 1rem;
}
.card-icon {
  font-size: 1.2rem;
}
.card-img {
  height: 10rem;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.fa-fire-flame-simple {
  font-size: 2rem;
}
