@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 100%/1.5 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1,
h2,
h3,
p {
  margin: unset;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

/* layout */

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 2rem;
}

.brand {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 32px;
}

h1 {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 12rem;
  letter-spacing: -0.05em;
  line-height: 0.9;
  margin: 0 0 0 -0.05em;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.half {
  flex: 1 0 22rem;
}

p {
  margin: 0.5rem 0 0;
}

h3 {
  font-size: 12px;
  letter-spacing: 0.1em;
  margin: 0 0 2rem;
  text-transform: uppercase;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  border-radius: 1rem;
  cursor: pointer;
  flex: 1 0 15rem;
  margin: -1rem;
  padding: 1rem;
}
.card:hover {
  background: #fff1;
}

i {
  font-size: 2rem;
}

/* colors */

body {
  color: #111;
  transition: all 0.4s linear;
}
.invert {
  color: #fff;
}

/* adaptive */

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 6rem;
  }
}
